/* Navigation bar */
.navbar{
  padding: 1% 15%;
  background-color: #686d76;
}
.container-fluid{
  padding: 0%;
  background: none;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 1.25rem;
    opacity: 1;
}
.navbar .navbar-brand{
  font-family: sans-serif;
  font-size: 3rem;
  color: black;
  font-weight: 500;
}
.brand-icon{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
/* content */
.column{
	border: 3px solid black;
	float: left;
	width: 18em;
	margin-left: 30px;
  margin-right: 30px;
	margin-top: 30px;
	margin-bottom: 50px;
	background-color: #fff;
  display: inline-block;

}
.row{
  padding: 20px 10%;
}

.column img{
	width: 17.65em;
}


.column span{
	font-size: 120%;
	margin-left: 19%;
	color: black;
	font-weight: bold;
}
/* Contact */
footer{
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.contact-link{
  margin: 20px 15px 10px;
  color: blue;
}
.copyright-text{
  color: black;
  font-size: 1.25rem;
  margin-bottom: 0px;
}
.contact-link:hover{
  color: #1f4068;
}
